.ann-container{
    margin: 7rem 0;
}

.ann-container h1{
    text-align: center;
    margin-bottom: 10rem;
}

.ann-row{
    background-color: #dfdfdf;
    margin: 8rem 0;
    border-radius: 5px;
    padding: 3rem;
}